.player-container {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999;
  display: block;
}

.player-wrapper {
  position: absolute;
  background: white;
  width: 90%;
  height: 90%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#player-display {
  position: absolute;
  transform-origin: 0 0;
  left: 50%;
  top: 50%;
}
