.ReplayListItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title"
  "useragent"
  "timestamp"
  "duration"
  "clicks";
}

.ReplayListItem__Title {
  font-weight: 600;
  grid-area: title;
}

.ReplayListItem__UserAgent {
  grid-area: useragent;
}

.ReplayListItem__Timestamp {
  grid-area: timestamp;
}

.ReplayListItem__Duration {
  grid-area: duration;
}

.ReplayListItem__Clicks {
  grid-area: clicks;
}

@media(min-width: 800px) {
  .ReplayListItem {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "title useragent . clicks duration timestamp";
  }

  .ReplayListItem__Timestamp {
    text-align: right;
  }

  .ReplayListItem__Clicks {
    text-align: right;
  }

  .ReplayListItem__Duration {
    text-align: right;
  }

}
